h1{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5em;
}

h2{
    color: rgb(31, 31, 31);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4em;
}

h3{
    color: rgb(31, 31, 31);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
}

.container{
    background: white;
    /* height: 40em;
    width: 40em; */

}

.weather-section{
    background: white;
    width: 40%;
    height: 40%;
    margin: 0 auto;
    text-align: center;
}

.actual-weather{

    background: white;
    /* width: 40%;
    height: 40%; */
    margin: 0 auto;
    text-align: center;
    
    border-width: .5em;
    border-color: black;
    border-style: solid;
    padding-left: 1em;
    padding-right: 1em;

    
}
