h1{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5em;
}

h2{
    color: rgb(31, 31, 31);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4em;
}

.container{
    background: white;
    /* height: 40em;
    width: 40em; */

}

.weather-section{
    background: white;
    width: 40%;
    height: 40%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10em;
    border-width: 1.5em;
    border-color: black;
    border-style: solid;
}

.actual-weather{
    
}